In [2]:
# 데이터 전처리 및 분석 기본 코드
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
%matplotlib inline
from matplotlib import font_manager

f_path = "C:/windows/Fonts/malgun.ttf"
font_manager.FontProperties(fname=f_path).get_name()
rc('font', family='Malgun Gothic')

C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
df = pd.read_csv('./done/전국교통사고다발지역표준데이터.csv', encoding='cp949')

In [4]:
df.head(1)

,Unnamed: 0,사고지역관리번호,사고연도,사고유형구분,위치코드,사고다발지역시도시군구,사고지역위치명,사고건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,위도,경도
0,0,2013098,2012,보행노인,11470002,서울특별시 양천구2,서울특별시 양천구 신정동(신정3평화은행 부근),3,4,1,2,1,0,37.517352,126.853553

In [5]:
df = df.drop('Unnamed: 0', axis=1)
df.head()

,사고지역관리번호,사고연도,사고유형구분,위치코드,사고다발지역시도시군구,사고지역위치명,사고건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,위도,경도
0,2013098,2012,보행노인,11470002,서울특별시 양천구2,서울특별시 양천구 신정동(신정3평화은행 부근),3,4,1,2,1,0,37.517352,126.853553
1,2013098,2012,보행노인,11500001,서울특별시 강서구1,서울특별시 강서구 화곡동(홍익병원앞_등촌로_진입_1 부근),3,3,0,1,2,0,37.530665,126.863875
2,2013098,2012,보행노인,11500002,서울특별시 강서구2,서울특별시 강서구 화곡동(강서구청입구 부근),3,3,0,2,1,0,37.556113,126.852409
3,2013098,2012,보행노인,11500003,서울특별시 강서구3,서울특별시 강서구 화곡동(화곡사거리 부근),4,4,0,2,2,0,37.530715,126.847285
4,2013098,2012,보행노인,11500004,서울특별시 강서구4,서울특별시 강서구 염창동(태진빌딩 부근),4,4,0,2,2,0,37.546968,126.876047

In [6]:
seoul_df = df[df['사고지역위치명'].str.contains('서울특별시')]
seoul_df = seoul_df[seoul_df['사고다발지역시도시군구'].str.contains('서울')]
seoul_df.head()

,사고지역관리번호,사고연도,사고유형구분,위치코드,사고다발지역시도시군구,사고지역위치명,사고건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,위도,경도
0,2013098,2012,보행노인,11470002,서울특별시 양천구2,서울특별시 양천구 신정동(신정3평화은행 부근),3,4,1,2,1,0,37.517352,126.853553
1,2013098,2012,보행노인,11500001,서울특별시 강서구1,서울특별시 강서구 화곡동(홍익병원앞_등촌로_진입_1 부근),3,3,0,1,2,0,37.530665,126.863875
2,2013098,2012,보행노인,11500002,서울특별시 강서구2,서울특별시 강서구 화곡동(강서구청입구 부근),3,3,0,2,1,0,37.556113,126.852409
3,2013098,2012,보행노인,11500003,서울특별시 강서구3,서울특별시 강서구 화곡동(화곡사거리 부근),4,4,0,2,2,0,37.530715,126.847285
4,2013098,2012,보행노인,11500004,서울특별시 강서구4,서울특별시 강서구 염창동(태진빌딩 부근),4,4,0,2,2,0,37.546968,126.876047

In [7]:
seoul_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3748 entries, 0 to 13329
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   사고지역관리번호     3748 non-null   int64
 1   사고연도         3748 non-null   int64
 2   사고유형구분       3748 non-null   object
 3   위치코드         3748 non-null   int64
 4   사고다발지역시도시군구  3748 non-null   object
 5   사고지역위치명      3748 non-null   object
 6   사고건수         3748 non-null   int64
 7   사상자수         3748 non-null   int64
 8   사망자수         3748 non-null   int64
 9   중상자수         3748 non-null   int64
 10  경상자수         3748 non-null   int64
 11  부상신고자수       3748 non-null   int64
 12  위도           3748 non-null   float64
 13  경도           3748 non-null   float64
dtypes: float64(2), int64(9), object(3)
memory usage: 439.2+ KB

In [8]:
seoul_df.loc[df['사고다발지역시도시군구'].str.startswith('서울'), '사고다발지역시도시군구'] = '서울특별시' 
seoul_df.head()

,사고지역관리번호,사고연도,사고유형구분,위치코드,사고다발지역시도시군구,사고지역위치명,사고건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,위도,경도
0,2013098,2012,보행노인,11470002,서울특별시,서울특별시 양천구 신정동(신정3평화은행 부근),3,4,1,2,1,0,37.517352,126.853553
1,2013098,2012,보행노인,11500001,서울특별시,서울특별시 강서구 화곡동(홍익병원앞_등촌로_진입_1 부근),3,3,0,1,2,0,37.530665,126.863875
2,2013098,2012,보행노인,11500002,서울특별시,서울특별시 강서구 화곡동(강서구청입구 부근),3,3,0,2,1,0,37.556113,126.852409
3,2013098,2012,보행노인,11500003,서울특별시,서울특별시 강서구 화곡동(화곡사거리 부근),4,4,0,2,2,0,37.530715,126.847285
4,2013098,2012,보행노인,11500004,서울특별시,서울특별시 강서구 염창동(태진빌딩 부근),4,4,0,2,2,0,37.546968,126.876047

In [9]:
print(seoul_df['사고다발지역시도시군구'].unique())
print(seoul_df['사고유형구분'].unique())
print(seoul_df['사고연도'].unique())
print(seoul_df['사고지역관리번호'].unique())

['서울특별시']
['보행노인' '보행어린이' '스쿨존어린이' '자전거' '무단횡단']
[2012 2013 2014 2015 2016 2017 2018 2019 2020 2021]
[2013098 2013097 2013060 2013099 2013114 2014105 2014095 2014109 2015048
 2014110 2014117 2015046 2015042 2015049 2015052 2016040 2016044 2016146
 2016147 2016152 2017026 2017027 2017029 2017050 2017081 2018027 2018028
 2018029 2018032 2019066 2018045 2019034 2019035 2019036 2019038 2020015
 2020016 2020027 2020037 2020055 2021017 2021018 2021024 2021028 2021030
 2022038 2022083 2022084]

In [77]:
seoul_df.to_csv('./result/서울교통사고다발지역표준데이터.csv', encoding='cp949')