In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
%matplotlib inline
from matplotlib import font_manager

f_path = "C:/windows/Fonts/malgun.ttf"
font_manager.FontProperties(fname=f_path).get_name()
rc('font', family='Malgun Gothic')

C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df = pd.read_csv("./done/음주운전 사고 다발 지역 현황.csv", encoding='cp949')

## feature

|이름|의미|
|-|-|
|사고다발지FID|공간 데이터베이스에서 각 지오메트리 객체(예: 포인트, 라인, 폴리곤)를 식별하기 위해 사용되는 고유 식별자 |
|사고다발지ID|특정 지역을 구분하기 위한 고유한 식별자|
|법정동코드|1111017500 <br> 1\~2번째 자리수: 시,도 코드(11: 서울특별시)<br>3\~4번째 자리수: 시군구 코드(11: 종로구)<br>5\~8번째 자리수: 읍면동 코드(0175: 숭인동)<br>9\~10번째 자리수: 번지 코드(00: 전체 지역을 의미합니다.)|
|지점코드|지점명을 코드로 나타낸 것|
|시도시군구명|시도시군구의 이름|
|지점명|사고 발생 지점|
|발생건수|사고가 발생한 횟수|
|사상자수<br>사망자수<br>중상자수<br>경상자수<br>부상신고자수|해당 지점에서 일어난 사고로 인해 발생한 인명피해 수|
|경도|경도|
|위도|위도|
|다발지역폴리곤|데이터를 시각화하기 위해 사용되는 지리 형상. GIS(지역정보시스템)에서 활용<br>행정구역별 인구 분포, 건물의 분포, 도로의 너비 등 지리 데이터를 시각화하여 분석|

In [3]:
df.head(2)

,사고다발지FID,사고다발지ID,법정동코드,지점코드,시도시군구명,지점명,발생건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,경도,위도,다발지역폴리곤
0,6789498,2022051,1111017500,11110001,서울특별시 종로구1,서울특별시 종로구 숭인동(신설동역교차로 부근),3,4,0,4,0,0,127.023122,37.575433,"{""type"":""Polygon"",""coordinates"":[[[127.0240199..."
1,6792429,2022051,1114014300,11140001,서울특별시 중구1,서울특별시 중구 장충동1가(장충체육관앞 부근),3,5,0,3,2,0,127.005786,37.559678,"{""type"":""Polygon"",""coordinates"":[[[127.0066838..."

In [4]:
df.info()
# 결측치 없음.feature 정리 후 종료

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   사고다발지FID  335 non-null    int64
 1   사고다발지ID   335 non-null    int64
 2   법정동코드     335 non-null    int64
 3   지점코드      335 non-null    int64
 4   시도시군구명    335 non-null    object
 5   지점명       335 non-null    object
 6   발생건수      335 non-null    int64
 7   사상자수      335 non-null    int64
 8   사망자수      335 non-null    int64
 9   중상자수      335 non-null    int64
 10  경상자수      335 non-null    int64
 11  부상신고자수    335 non-null    int64
 12  경도        335 non-null    float64
 13  위도        335 non-null    float64
 14  다발지역폴리곤   335 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 39.4+ KB

In [5]:
# 서울 지역으로 축소
seoul_df = df[df['시도시군구명'].str.contains('서울')]
seoul_df = seoul_df[seoul_df['지점명'].str.contains('서울')]
seoul_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 0 to 84
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   사고다발지FID  85 non-null     int64
 1   사고다발지ID   85 non-null     int64
 2   법정동코드     85 non-null     int64
 3   지점코드      85 non-null     int64
 4   시도시군구명    85 non-null     object
 5   지점명       85 non-null     object
 6   발생건수      85 non-null     int64
 7   사상자수      85 non-null     int64
 8   사망자수      85 non-null     int64
 9   중상자수      85 non-null     int64
 10  경상자수      85 non-null     int64
 11  부상신고자수    85 non-null     int64
 12  경도        85 non-null     float64
 13  위도        85 non-null     float64
 14  다발지역폴리곤   85 non-null     object
dtypes: float64(2), int64(10), object(3)
memory usage: 10.6+ KB

In [6]:
# 모두 서울특별시로 시작하는지 확인하기 위해 서울로 시작하는 데이터가 있는지 확인.

is_seoul_exist = df['시도시군구명'].str.match(r'서울(?!특별시)')
print(is_seoul_exist.any())

is_seoul_exist = df['지점명'].str.match(r'서울(?!특별시)')
print(is_seoul_exist.any())

False
False

In [7]:
# 서울로 시작하는 경우가 있었다면 이렇게 바꾸면 된다.
#df['시도시군구명'] = df['시도시군구명'].str.replace('서울', '서울특별시')
#df['지점명'] = df['지점명'].str.replace('서울', '서울특별시')

In [8]:
print(seoul_df['사고다발지FID'].unique())
seoul_df['사고다발지ID'].unique()

[6789498 6792429 6792345 6789599 6789490 6789549 6789583 6792452 6789539
 6792342 6789555 6792331 6790543 6789588 6792402 6792394 6792436 6790541
 6789574 6792341 6789456 6792398 6789506 6792392 6792425 6789575 6792356
 6789499 6789584 6790534 6792430 6792420 6792354 6792454 6792384 6789471
 6789571 6792337 6792347 6792366 6789649 6792403 6789587 6789497 6792439
 6792361 6792381 6789427 6792417 6792330 6789432 6789434 6792427 6792409
 6789656 6792438 6789428 6789424 6789453 6789449 6789435 6790529 6789489
 6789451 6790537 6792388 6789591 6789567 6789556 6792407 6789652 6789530
 6792382 6789504 6789657 6789580 6789476 6789450 6789552 6789578 6789592
 6792432 6789521 6789523 6789546]

array([2022051], dtype=int64)

In [9]:
seoul_df.drop('다발지역폴리곤', axis=1, inplace=True)
seoul_df.drop('사고다발지FID', axis=1, inplace=True)
seoul_df.drop('사고다발지ID', axis=1, inplace=True)
seoul_df.head()

,법정동코드,지점코드,시도시군구명,지점명,발생건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,경도,위도
0,1111017500,11110001,서울특별시 종로구1,서울특별시 종로구 숭인동(신설동역교차로 부근),3,4,0,4,0,0,127.023122,37.575433
1,1114014300,11140001,서울특별시 중구1,서울특별시 중구 장충동1가(장충체육관앞 부근),3,5,0,3,2,0,127.005786,37.559678
2,1114016200,11140002,서울특별시 중구2,서울특별시 중구 신당동(약수역서울3호선 부근),3,5,0,3,2,0,127.010806,37.553750
3,1117012800,11170001,서울특별시 용산구1,서울특별시 용산구 한강로3가(한강대교북측 부근),3,9,0,4,5,0,126.960990,37.522527
4,1120011400,11200001,서울특별시 성동구1,서울특별시 성동구 성수동1가(성수대교 부근),4,12,0,7,5,0,127.036229,37.543578

In [10]:
seoul_df.to_csv('./result/서울_음주운전 사고 다발 지역 현황.csv', encoding='cp949')