In [1]:
# 데이터 전처리 및 분석 기본 코드
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
%matplotlib inline
from matplotlib import font_manager

f_path = "C:/windows/Fonts/malgun.ttf"
font_manager.FontProperties(fname=f_path).get_name()
rc('font', family='Malgun Gothic')

C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [10]:
def data_info(csv_dir):
    df = pd.read_csv(csv_dir, encoding='cp949')
    print(df.head())
    print(df.info())

In [11]:
%pwd

'C:\\WORKSPACE-PYTHON\\multicampus\\drunk\\data\\result'

In [12]:
data_info('도로교통공단_가해운전자 연령층별 월별 교통사고 통계_2021년.csv')

  가해자연령층  발생월  사고건수  사망자수  중상자수  경상자수  부상신고자수
0  20세이하    1   363     4    95   368      46
1  20세이하    2   422    11   100   415      74
2  20세이하    3   570     1   136   578     102
3  20세이하    4   683    11   184   674     109
4  20세이하    5   669     6   228   631     107
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가해자연령층  84 non-null     object
 1   발생월     84 non-null     int64
 2   사고건수    84 non-null     int64
 3   사망자수    84 non-null     int64
 4   중상자수    84 non-null     int64
 5   경상자수    84 non-null     int64
 6   부상신고자수  84 non-null     int64
dtypes: int64(6), object(1)
memory usage: 4.7+ KB
None

In [19]:
import os

# 현재 작업 디렉토리의 경로를 가져옴
dir_path = os.getcwd()

# 현재 작업 디렉토리의 모든 파일 이름을 가져와서 리스트에 저장
file_list = os.listdir(dir_path)

# csv 출력
for filename in file_list:
    if filename.endswith('.csv'):
        print('---------------------------------------------------------')
        print(filename)
        print('---------------------------------------------------------')
        data_info(filename)
        print('\n')

---------------------------------------------------------
도로교통공단_가해운전자 연령층별 월별 교통사고 통계_2021년.csv
---------------------------------------------------------
  가해자연령층  발생월  사고건수  사망자수  중상자수  경상자수  부상신고자수
0  20세이하    1   363     4    95   368      46
1  20세이하    2   422    11   100   415      74
2  20세이하    3   570     1   136   578     102
3  20세이하    4   683    11   184   674     109
4  20세이하    5   669     6   228   631     107
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가해자연령층  84 non-null     object
 1   발생월     84 non-null     int64
 2   사고건수    84 non-null     int64
 3   사망자수    84 non-null     int64
 4   중상자수    84 non-null     int64
 5   경상자수    84 non-null     int64
 6   부상신고자수  84 non-null     int64
dtypes: int64(6), object(1)
memory usage: 4.7+ KB
None


---------------------------------------------------------
면허취득경과년수별 음주운전사고 발생건수 및 구성비.csv
---------------------------------------------------------
   Unnamed: 0    연도  구분     전체  소계(5년미만)   1년 미만    1~2년    2~3년    3~4년  \
0           0  2005  건수  26460    8869.0  1735.0  1395.0  2100.0  1905.0
1           1  2005  비율    100      33.5     6.6     5.3     7.9     7.2
2           2  2006  건수  29990   10301.0  1993.0  1912.0  1663.0  1594.0
3           3  2006  비율    100      34.3     6.6     6.4     5.5     5.3
4           4  2007  건수  28416    8892.0  1695.0  1781.0  1622.0  1099.0

     4~5년   5~10년  10년 이상     무면허
0  1734.0  6050.0  8521.0  3020.0
1     6.6    22.9    32.2    11.4
2  3139.0  6934.0  9402.0  3353.0
3    10.5    23.1    31.4    11.2
4  2695.0  7064.0  9103.0  3357.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  20 non-null     int64
 1   연도          20 non-null     int64
 2   구분          20 non-null     object
 3   전체          20 non-null     int64
 4   소계(5년미만)    20 non-null     float64
 5   1년 미만       20 non-null     float64
 6   1~2년        20 non-null     float64
 7   2~3년        20 non-null     float64
 8   3~4년        20 non-null     float64
 9   4~5년        20 non-null     float64
 10  5~10년       20 non-null     float64
 11  10년 이상      20 non-null     float64
 12  무면허         20 non-null     float64
dtypes: float64(9), int64(3), object(1)
memory usage: 2.2+ KB
None


---------------------------------------------------------
법정동코드 전체자료.csv
---------------------------------------------------------
        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46342 entries, 0 to 46341
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   46342 non-null  int64
 1   법정동명    46342 non-null  object
 2   폐지여부    46342 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB
None


---------------------------------------------------------
서울_음주운전 사고 다발 지역 현황.csv
---------------------------------------------------------
   Unnamed: 0       법정동코드      지점코드      시도시군구명                         지점명  \
0           0  1111017500  11110001  서울특별시 종로구1   서울특별시 종로구 숭인동(신설동역교차로 부근)
1           1  1114014300  11140001   서울특별시 중구1   서울특별시 중구 장충동1가(장충체육관앞 부근)
2           2  1114016200  11140002   서울특별시 중구2   서울특별시 중구 신당동(약수역서울3호선 부근)
3           3  1117012800  11170001  서울특별시 용산구1  서울특별시 용산구 한강로3가(한강대교북측 부근)
4           4  1120011400  11200001  서울특별시 성동구1    서울특별시 성동구 성수동1가(성수대교 부근)

   발생건수  사상자수  사망자수  중상자수  경상자수  부상신고자수          경도         위도
0     3     4     0     4     0       0  127.023122  37.575433
1     3     5     0     3     2       0  127.005786  37.559678
2     3     5     0     3     2       0  127.010806  37.553750
3     3     9     0     4     5       0  126.960990  37.522527
4     4    12     0     7     5       0  127.036229  37.543578
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  85 non-null     int64
 1   법정동코드       85 non-null     int64
 2   지점코드        85 non-null     int64
 3   시도시군구명      85 non-null     object
 4   지점명         85 non-null     object
 5   발생건수        85 non-null     int64
 6   사상자수        85 non-null     int64
 7   사망자수        85 non-null     int64
 8   중상자수        85 non-null     int64
 9   경상자수        85 non-null     int64
 10  부상신고자수      85 non-null     int64
 11  경도          85 non-null     float64
 12  위도          85 non-null     float64
dtypes: float64(2), int64(9), object(2)
memory usage: 8.8+ KB
None


---------------------------------------------------------
서울교통사고다발지역표준데이터.csv
---------------------------------------------------------
   Unnamed: 0  사고지역관리번호  사고연도 사고유형구분      위치코드 사고다발지역시도시군구  \
0           0   2013098  2012   보행노인  11470002       서울특별시
1           1   2013098  2012   보행노인  11500001       서울특별시
2           2   2013098  2012   보행노인  11500002       서울특별시
3           3   2013098  2012   보행노인  11500003       서울특별시
4           4   2013098  2012   보행노인  11500004       서울특별시

                            사고지역위치명  사고건수  사상자수  사망자수  중상자수  경상자수  부상신고자수  \
0         서울특별시 양천구 신정동(신정3평화은행 부근)     3     4     1     2     1       0
1  서울특별시 강서구 화곡동(홍익병원앞_등촌로_진입_1 부근)     3     3     0     1     2       0
2          서울특별시 강서구 화곡동(강서구청입구 부근)     3     3     0     2     1       0
3           서울특별시 강서구 화곡동(화곡사거리 부근)     4     4     0     2     2       0
4            서울특별시 강서구 염창동(태진빌딩 부근)     4     4     0     2     2       0

          위도          경도
0  37.517352  126.853553
1  37.530665  126.863875
2  37.556113  126.852409
3  37.530715  126.847285
4  37.546968  126.876047
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3748 entries, 0 to 3747
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3748 non-null   int64
 1   사고지역관리번호     3748 non-null   int64
 2   사고연도         3748 non-null   int64
 3   사고유형구분       3748 non-null   object
 4   위치코드         3748 non-null   int64
 5   사고다발지역시도시군구  3748 non-null   object
 6   사고지역위치명      3748 non-null   object
 7   사고건수         3748 non-null   int64
 8   사상자수         3748 non-null   int64
 9   사망자수         3748 non-null   int64
 10  중상자수         3748 non-null   int64
 11  경상자수         3748 non-null   int64
 12  부상신고자수       3748 non-null   int64
 13  위도           3748 non-null   float64
 14  경도           3748 non-null   float64
dtypes: float64(2), int64(10), object(3)
memory usage: 439.3+ KB
None


---------------------------------------------------------
운전면허소지자현황__2010_2021.csv
---------------------------------------------------------
     시점        총계
0  2010  26402364
1  2011  27251153
2  2012  28263317
3  2013  28848040
4  2014  29544245
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시점      12 non-null     int64
 1   총계      12 non-null     int64
dtypes: int64(2)
memory usage: 320.0 bytes
None


---------------------------------------------------------
음주운전 교통사고 발생건수, 부상자수, 사망자수_2010_2020.csv
---------------------------------------------------------
   Unnamed: 0    연도  총 발생건수  총 사망자   총 부상자  음주 발생건수  음주 발생건수 점유율  음주 사망자수  \
0           0  2010  226878   5503  352458    28641         12.6      781
1           1  2011  221711   5229  341391    28461         12.8      733
2           2  2012  223656   5392  344565    29093         13.0      815
3           3  2013  215354   5092  328711    26589         12.3      727
4           4  2014  223552   4762  337497    24043         10.8      592

   음주 사망자수 점유율  음주 부상자수  음주 부상자수 점유율
0         14.2    51364         14.6
1         14.0    51135         14.9
2         15.1    52345         15.2
3         14.3    47711         14.5
4         12.4    42772         12.6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   11 non-null     int64
 1   연도           11 non-null     int64
 2   총 발생건수       11 non-null     int64
 3   총 사망자        11 non-null     int64
 4   총 부상자        11 non-null     int64
 5   음주 발생건수      11 non-null     int64
 6   음주 발생건수 점유율  11 non-null     float64
 7   음주 사망자수      11 non-null     int64
 8   음주 사망자수 점유율  11 non-null     float64
 9   음주 부상자수      11 non-null     int64
 10  음주 부상자수 점유율  11 non-null     float64
dtypes: float64(3), int64(8)
memory usage: 1.1 KB
None


---------------------------------------------------------
음주운전 적발 및 비율_2010_2021.csv
---------------------------------------------------------
   Unnamed: 0    년도      1회     2회     3회     4회    5회    6회  7회이상      총합  \
0           0  2010  179086  79314  30103   9705  3118   903   478  302707
1           1  2011  151488  67195  26172   8925  3017   929   487  258213
2           2  2012  142803  63990  25607   9094  3179  1085   525  246283
3           3  2013  154992  69863  28862  10391  3718  1285   725  269836
4           4  2014  142258  64813  28183  10534  3775  1396   829  251788

   ...     10대    20대    30대    40대    50대   60대  70대이상    불상    연령총합  \
0  ...  1878.0  58888  92381  93491  43579  8835   1168  2487  300220
1  ...  1670.0  48005  79458  78972  40415  7730   1156   807  257406
2  ...  1721.0  44597  75566  74935  40172  8008   1274    10  246273
3  ...  1655.0  46038  83102  81004  46604  8921   1527   985  268851
4  ...  1731.0  41598  75674  75180  45237  9589   1583  1196  250592

   연령총합(불상포함)
0      302707
1      258213
2      246283
3      269836
4      251788

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            12 non-null     int64
 1   년도                    12 non-null     int64
 2   1회                    12 non-null     int64
 3   2회                    12 non-null     int64
 4   3회                    12 non-null     int64
 5   4회                    12 non-null     int64
 6   5회                    12 non-null     int64
 7   6회                    12 non-null     int64
 8   7회이상                  12 non-null     int64
 9   총합                    12 non-null     int64
 10  운전면허 소지자 수            12 non-null     int64
 11  적발자비율(총합/운전면허 소지자 수)  12 non-null     float64
 12  재범률(총합 대비 2회 이상)      12 non-null     float64
 13  10대                   10 non-null     float64
 14  20대                   12 non-null     int64
 15  30대                   12 non-null     int64
 16  40대                   12 non-null     int64
 17  50대                   12 non-null     int64
 18  60대                   12 non-null     int64
 19  70대이상                 12 non-null     int64
 20  불상                    12 non-null     int64
 21  연령총합                  12 non-null     int64
 22  연령총합(불상포함)            12 non-null     int64
dtypes: float64(3), int64(20)
memory usage: 2.3 KB
None


---------------------------------------------------------
전국교통사고다발지역표준데이터.csv
---------------------------------------------------------
   Unnamed: 0  사고지역관리번호  사고연도 사고유형구분      위치코드 사고다발지역시도시군구  \
0           0   2013098  2012   보행노인  11470002  서울특별시 양천구2
1           1   2013098  2012   보행노인  11500001  서울특별시 강서구1
2           2   2013098  2012   보행노인  11500002  서울특별시 강서구2
3           3   2013098  2012   보행노인  11500003  서울특별시 강서구3
4           4   2013098  2012   보행노인  11500004  서울특별시 강서구4

                            사고지역위치명  사고건수  사상자수  사망자수  중상자수  경상자수  부상신고자수  \
0         서울특별시 양천구 신정동(신정3평화은행 부근)     3     4     1     2     1       0
1  서울특별시 강서구 화곡동(홍익병원앞_등촌로_진입_1 부근)     3     3     0     1     2       0
2          서울특별시 강서구 화곡동(강서구청입구 부근)     3     3     0     2     1       0
3           서울특별시 강서구 화곡동(화곡사거리 부근)     4     4     0     2     2       0
4            서울특별시 강서구 염창동(태진빌딩 부근)     4     4     0     2     2       0

          위도          경도
0  37.517352  126.853553
1  37.530665  126.863875
2  37.556113  126.852409
3  37.530715  126.847285
4  37.546968  126.876047
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13362 entries, 0 to 13361
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   13362 non-null  int64
 1   사고지역관리번호     13362 non-null  int64
 2   사고연도         13362 non-null  int64
 3   사고유형구분       13362 non-null  object
 4   위치코드         13362 non-null  int64
 5   사고다발지역시도시군구  13362 non-null  object
 6   사고지역위치명      13362 non-null  object
 7   사고건수         13362 non-null  int64
 8   사상자수         13362 non-null  int64
 9   사망자수         13362 non-null  int64
 10  중상자수         13362 non-null  int64
 11  경상자수         13362 non-null  int64
 12  부상신고자수       13362 non-null  int64
 13  위도           13362 non-null  float64
 14  경도           13362 non-null  float64
dtypes: float64(2), int64(10), object(3)
memory usage: 1.5+ MB
None