In [1]:
# 데이터 전처리 및 분석 기본 코드
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
%matplotlib inline
from matplotlib import font_manager

f_path = "C:/windows/Fonts/malgun.ttf"
font_manager.FontProperties(fname=f_path).get_name()
rc('font', family='Malgun Gothic')

C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\art\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df = pd.read_csv('음주운전 교통사고 발생건수, 부상자수, 사망자수.csv', encoding='utf-8')

In [6]:
df

,연도,총 발생건수,총 사망자,총 부상자,음주 발생건수,음주 발생건수 점유율,음주 사망자수,음주 사망자수 점유율,음주 부상자수,음주 부상자수 점유율
0,1990,255303,12325,324229,7303,2.9,379,3.1,10707,3.3
1,1991,265964,13429,331610,8377,3.1,476,3.5,11967,3.6
2,1992,257194,11640,325943,10319,4.0,483,4.1,14971,4.6
3,1993,260921,10402,337679,14961,5.7,596,5.7,21765,6.4
4,1994,266107,10087,350892,17900,6.7,565,5.6,26918,7.7
5,1995,248865,10323,331747,17777,7.1,690,6.7,26300,7.9
6,1996,265002,12653,355962,25764,9.7,979,7.7,38897,10.9
7,1997,246452,11603,343159,22892,9.3,1004,8.7,36023,10.5
8,1998,239721,9057,340564,25269,10.5,1113,12.3,40489,11.9
9,1999,275938,9353,402967,23718,8.6,998,10.7,39282,9.7
10,2000,290481,10236,426984,28074,9.7,1217,11.9,47155,11.0
11,2001,260579,8097,386539,24994,9.6,1004,12.4,42165,10.9
12,2002,231026,7222,348149,24983,10.8,907,12.6,42316,12.2
13,2003,240832,7212,376503,31227,13.0,1113,15.4,55230,14.7
14,2004,220755,6563,346987,25150,11.4,875,13.3,44522,12.8
15,2005,214171,6376,342233,26460,12.4,910,14.3,48153,14.1
16,2006,213745,6327,340229,29990,14.0,920,14.5,54255,15.9
17,2007,211662,6166,335906,28416,13.4,991,16.1,51370,15.3
18,2008,215882,5870,338962,26873,12.5,969,16.5,48497,14.3
19,2009,231990,5838,361875,28207,12.2,898,15.4,50797,14.0
20,2010,226878,5503,352458,28641,12.6,781,14.2,51364,14.6
21,2011,221711,5229,341391,28461,12.8,733,14.0,51135,14.9
22,2012,223656,5392,344565,29093,13.0,815,15.1,52345,15.2
23,2013,215354,5092,328711,26589,12.3,727,14.3,47711,14.5
24,2014,223552,4762,337497,24043,10.8,592,12.4,42772,12.6
25,2015,232035,4621,350400,24399,10.5,583,12.6,42880,12.2
26,2016,220917,4292,331720,19769,9.0,481,11.2,34423,10.4
27,2017,216335,4185,322829,19517,9.0,439,10.5,33364,10.3
28,2018,217148,3781,323037,19381,8.9,346,9.2,32952,10.2
29,2019,229600,3349,341712,15708,6.8,295,8.8,25961,7.6
30,2020,209654,3081,306194,17247,8.2,287,9.3,28063,9.2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   연도           31 non-null     int64
 1   총 발생건수       31 non-null     int64
 2   총 사망자        31 non-null     int64
 3   총 부상자        31 non-null     int64
 4   음주 발생건수      31 non-null     int64
 5   음주 발생건수 점유율  31 non-null     float64
 6   음주 사망자수      31 non-null     int64
 7   음주 사망자수 점유율  31 non-null     float64
 8   음주 부상자수      31 non-null     int64
 9   음주 부상자수 점유율  31 non-null     float64
dtypes: float64(3), int64(7)
memory usage: 2.5 KB

In [10]:
# '연도' 열의 데이터가 2010부터 2020까지인 행들만 선택하여 new_df에 저장
new_df = df.query('2010 <= 연도 <= 2020')

# 나머지 행들을 삭제
new_df = new_df.reset_index(drop=True)
new_df

,연도,총 발생건수,총 사망자,총 부상자,음주 발생건수,음주 발생건수 점유율,음주 사망자수,음주 사망자수 점유율,음주 부상자수,음주 부상자수 점유율
0,2010,226878,5503,352458,28641,12.6,781,14.2,51364,14.6
1,2011,221711,5229,341391,28461,12.8,733,14.0,51135,14.9
2,2012,223656,5392,344565,29093,13.0,815,15.1,52345,15.2
3,2013,215354,5092,328711,26589,12.3,727,14.3,47711,14.5
4,2014,223552,4762,337497,24043,10.8,592,12.4,42772,12.6
5,2015,232035,4621,350400,24399,10.5,583,12.6,42880,12.2
6,2016,220917,4292,331720,19769,9.0,481,11.2,34423,10.4
7,2017,216335,4185,322829,19517,9.0,439,10.5,33364,10.3
8,2018,217148,3781,323037,19381,8.9,346,9.2,32952,10.2
9,2019,229600,3349,341712,15708,6.8,295,8.8,25961,7.6
10,2020,209654,3081,306194,17247,8.2,287,9.3,28063,9.2

In [12]:
new_df.to_csv('./result/음주운전 교통사고 발생건수, 부상자수, 사망자수_2010_2020.csv', encoding='cp949')